test22/src/main/mule/test22.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="test22Flow" doc:id="706e5cce-20c7-403c-a07b-8575159d1e1a" >
		<logger level="INFO" doc:name="Logger" doc:id="49c925c4-527e-4192-ac41-8eea473d28f7" message="#[payload]"/>
	</flow>
</mule>
